<!DOCTYPE html>
<html ng-app="DemoApp">

<head>
    <link rel="stylesheet" href="//rawgit.com/twbs/bootstrap/v3.3.4/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body class="fixed-width" ng-controller="DefaultController">

    <h1>Angular.js Input Modified ngRepeat Example</h1>

    <p><a href="../">&leftarrow; See other demos</a></p>
    <hr>

    <form name="myForm" novalidate>

        <pre>
            Form modified: {{ myForm.modified ? 'Yes' : 'No' }}
        </pre>

        <pre>{{ fruits|json }}</pre>

        <!-- Fruits -->
        <div class="form-group">
            <label class="control-label">Favorite fruits:</label>
            <div class="control" ng-repeat="fruit in fruits">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="fruits[{{ fruit.id }}]" ng-model="fruit.selected">
                        {{ fruit.title }}
                    </label>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-group footer">
            <p>Button is disabled when form is not modified <i>(nothing to save)</i>
            </p>
            <div class="control buttons">
                <button
                    type="submit"
                    class="btn btn-primary"
                    ng-click="myForm.$setPristine()"
                    ng-disabled="!myForm.modified"
                >
                    Save Form
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    ng-disabled="!myForm.modified"
                    ng-click="myForm.reset()"
                >Reset Form</button>
            </div>
        </div>

    </form>

    <!-- Scripts -->
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/angular-input-modified/angular-input-modified.js"></script>
    <script src="script.js"></script>

</body>

</html>